<div [ngClass]="containerClass" class="layout-wrapper">
    <app-menu></app-menu>
    <div class="layout-sidebar">
        <app-sidebar></app-sidebar>
    </div>
    <div class="layout-main-container">
        <div class="layout-main">
            <p-dialog
                (onHide)="hidechatMsgDialog()"
                header="🤖ChatGPT"
                [modal]="true"
                dismissableMask="true"
                maximizable="true"
                position="bottom"
                [(visible)]="chatMsgDialogVisible"
                [style]="{ width: '70rem' }"
                transitionOptions="250ms cubic-bezier(0, 0, 0.2, 1)"
            >
                <div *ngIf="chatDialogVisible" style="height: 90%">
                    <div #chatDialog id="chatDialog" class="mb-3" style="height:60vh; overflow-y: auto">
                        <!--Chat messages will be appended here-->
                    </div>
                    <div class="flex align-items-center gap-3 mb-3">
                        <!--todo-->
                        <p-button label="Replace" severity="warning"></p-button>
                        <p-button label="Insert" severity="help"></p-button>
                        <p-button icon="pi pi-refresh"></p-button>
                    </div>
                </div>
                <div class="flex align-items-center gap-3 mb-3">
                    <input placeholder="Ask 🤖ChatGPT" style="font-size: 18px" pInputText [(ngModel)]="question" class="flex-auto" autocomplete="off"/>
                    <p-button icon="pi pi-send" (onClick)="sendChatMsgDialog()"/>
                </div>
            </p-dialog>
            <router-outlet></router-outlet>
        </div>
        <!--        <app-status></app-status>-->
    </div>
    <app-config></app-config>
    <div class="layout-mask"></div>

    <div class="card flex justify-content-center">
        <p-toast [life]="10000" [breakpoints]="{ '920px': { width: '100%', right: '0', left: '0' } }"/>
    </div>
</div>
